[submodule "vendor/academic-research-skills"]
	path = vendor/academic-research-skills
	url = https://github.com/Imbad0202/academic-research-skills.git
[submodule "vendor/research-book-skills"]
	path = vendor/research-book-skills
	url = https://github.com/CoveMB/research-book-skills.git
[submodule "vendor/subagent-orchestration-plugin"]
	path = vendor/subagent-orchestration-plugin
	url = https://github.com/CoveMB/subagent-orchestration-plugin.git
[submodule "vendor/obsidian-skills"]
	path = vendor/obsidian-skills
	url = https://github.com/kepano/obsidian-skills.git
